#This compose file is for use on my local machine for testing changes
#AWS configuration is handled by using my local machine's AWS CLI credentials (bind moounted in this file)

version: '3.7'
services:
    webserver:
        #image: puckel/docker-airflow:1.10.9
        build: 
            context: ./../
            dockerfile: ./Local/dockerfile
            args:
                PYTHON_DEPS: ""  
        restart: always
        environment:
            - LOAD_EX=n
            - EXECUTOR=Local
            - AIRFLOW__CORE__FERNET_KEY='5khjrdIFKBxsWQDGF8FI2u80rs_lA0bsheu2gJTwWGk='
        logging:
            options:
                max-size: 10m
                max-file: "3"
        volumes:
            - ./../../dags:/usr/local/airflow/dags
            - ./../../plugins:/usr/local/airflow/plugins
            - ./../../scripts:/usr/local/airflow/scripts
            - C:\Users\foboyle\.aws:/usr/local/airflow/.aws
            
        ports:
            - "8080:8080"
        command: webserver
        healthcheck:
            test: ["CMD-SHELL", "[ -f /usr/local/airflow/airflow-webserver.pid ]"]
            interval: 30s
            timeout: 30s
            retries: 3
